.tools{
    position: fixed;
    background-color: #b3a369;
    bottom:0;
    width: 100vw;
    height: 3em;
    text-align: center;

    

    .tool-items{
        color: #fff;
        width:30%;
        font-size:calc(2em - 1vw);
        margin:.2em 0;
     
        
    }

}
