.sidepanel {
  width: 0;
  position: fixed;
  z-index: 3;
  height: 250px;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;


  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #f1f1f1;
    }
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
}

#topbar{
  width:100%;
  background-color: #b3a369;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  z-index: 2;

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: #000;
    background-color: transparent;
    border: none;
    // width:100%;
    float: right;
    // text-align: right;
   
    z-index: 1;

  }

  .logo {
    // width:100%;
    font-weight: 700;
    letter-spacing: 2px;
    z-index: 1;
    color: #000;
    position: sticky;
    float: left;
    margin: 0;
  }

  
}