<div class="directory" ng-controller="roomCtrl as room">

    <select id="roomsHeading" class="custom-select" ng-model="app.show">
        <option value="All">All</option>
        <option value="Departments">Departments</option>
        <option value="Faculty">Faculty</option>
    </select>

    <div class="scroll">
        <ul class="rooms">
            <li class="show" ng-show="app.show== 'All'" ng-repeat="x in app.faculty | filter: searchFaculty">
                <a href="{{x.office.number}}">{{x.department.name}}</a>
                <a href="{{x.office.number}}">{{x.name.full()}}</a>
            </li>
            <li class="show" ng-show="app.show== 'Departments'" ng-repeat="x in app.faculty | filter: searchFaculty">
                <a href="{{x.office.number}}">{{x.department.name}}</a>
            </li>
            <li class="show" ng-show="app.show== 'Faculty'" ng-repeat="x in app.faculty | filter: searchFaculty">
                <a href="{{x.office.number}}">{{x.name.full()}}</a>
            </li>
        </ul>
    </div>

    <div class="search-container">
        <input type="search" placeholder="search person or room" id="searchBox">
        <!-- <search></search> -->
    </div>
</div>