<div class="directory" ng-controller="roomCtrl as room">
  
    <select id="roomsHeading" class="custom-select" ng-model="pan.show">
        <option value="All">All</option>
        <option value="Departments">Departments</option>
        <option value="Faculty">Faculty</option>
    </select>

<div class="scroll">
    <ul class="rooms" >
        <li class="show" ng-show="pan.show == 'All'" ng-repeat="x in pan.faculty | filter: searchFaculty">
            <a href="{{x.office.number}}">{{x.department.name}}</a>
            <a href="{{x.office.number}}">{{x.name.full()}}</a>
        </li>
        <li class="show" ng-show="pan.show== 'Departments'" ng-repeat="x in pan.faculty | filter: searchFaculty">
            <a href="{{x.office.number}}">{{x.department.name}}</a>
        </li> 
        <li class="show" ng-show="pan.show== 'Faculty'" ng-repeat="x in pan.faculty | filter: searchFaculty">
            <a href="{{x.office.number}}">{{x.name.full()}}</a>
        </li> 
    </ul>
</div>
    
<search></search>
<!-- <form>
<div class="searchbar">
    <input class="search" type="text" placeholder="Search" ng-model="find">
 </div>
</form> -->
    <!-- <span>Bathrooms:</span><input type="checkbox" > -->
    <!-- <button class="help" ng-click="app.icons()">Icons</button> -->
    
</div>
