.room-info {

    #sec2 {
        order: 2;
        flex: 0 1 20%;
        align-self: flex-start;
        justify-content: flex-start;

        h2 {

            color: #ffffff;
            letter-spacing: 1px;
            
        }
        
        ul{
            li{
                list-style-type: none;
                padding: 8px 0;

                a{
                    text-decoration: none;
                    color: #fff;
                    padding: 8px;
                     
                    &:active{
                        border: #b3a369 solid 2px;
                    }
                }
            }
        }


    }
    @keyframes flicker {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes location {
        0% {
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }



}


