.floor-slider {
    #sec2 {
        order: 2;
        flex: 0 1 20%;
        align-self: flex-start;
        justify-content: flex-start;

        .floor-title {
            border-bottom: #fff solid 2px;
            font-size: 50px;
            margin-top: 0px;
        }

        li {
            list-style-type: none;
            margin-bottom: 20px;
            

            &:active{
                border: 2px #fff solid;
                opacity: .5;
            }
            a {
                font-size: 25px;
                text-decoration: none;
                color: white;
                cursor: pointer;
                
                
                clear:both;

            }
            p:first-child{
                font-size:25px;
            }
        }


        #people{
            align-self:flex-end;

        }
    }

}
