.room-info {

    #sec2 {
        order: 2;
        flex: 0 1 20%;
        align-self: flex-start;
        justify-content: flex-start;

        h2 {

            color: #fdd703;
            letter-spacing: 1px;
            


            .show {
                display: block
            }
        }


        div,
        ul {
            display: block;
            float: left;
            box-sizing: border-box;
        }

        

        .directory {
            overflow-y: auto;
        }

        ul {
            list-style: none;
            width: 100%;
            overflow: hidden;
        

        li {
         

            .show {
                display: block
            }

            a {
                padding: 5px;
                text-decoration: none;
                color: #fff;
                background: transparent;
                width: 100%;
                display: inline-block;
                line-height: 1.3em;
                font-size: 13px;

                ::before {
                    content: "("attr(href) ") - ";
                    height: 23px;
                    float: left
                }
                .active {
                    border: #b3a369 solid 1px;
                }
            }
        }

    }

        .map {
            overflow-y: auto;
            
        }

        input[type=search] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
            width: 96%;
            margin: 5px 2%;
            background: rgba(0, 0, 0, .5);
            border: 1px solid #ddd;
            color: #fff;
        }
    }

    @keyframes flicker {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes location {
        0% {
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }



}


