.floor-slider #sec2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.floor-slider #sec2 .floor-title {
  border-bottom: #fff solid 2px;
  font-size: 50px;
  margin-top: 0px;
}

.floor-slider #sec2 li {
  list-style-type: none;
  margin-bottom: 20px;
}

.floor-slider #sec2 li:active {
  border: 2px #fff solid;
  opacity: .5;
}

.floor-slider #sec2 li a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  clear: both;
}

.floor-slider #sec2 li p:first-child {
  font-size: 25px;
}

.floor-slider #sec2 #people {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#directory .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#directory .search .alert {
  border-bottom: 2px solid #fff;
  margin-bottom: 3vh;
}

#directory .search .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#directory .search .search-bar input {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 95%;
          flex: 0 1 95%;
  height: 30px;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 3vh;
}

#directory .search .search-bar .search-icon {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 25px;
}

#directory .search table thead tr th {
  text-align: left;
  background-color: #fff;
}

#directory .search table thead tr th a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: calc(.65em + 1vw);
}

#directory .search table thead tr th a .down-arrow {
  color: #000;
}

#directory .search tbody tr td a {
  text-decoration: none;
  color: #fff;
}

#directory .search tbody tr td a:hover {
  font-weight: 700;
}

#directory .search .h-line {
  border-bottom: #fff solid 2px;
}

.floor-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.floor-slider #Arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
}

.floor-slider #Arrows button {
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border: none;
  font-size: 30px;
  cursor: pointer;
  background-color: #555;
}

.floor-slider #Arrows #Prev {
  top: 0;
}

.floor-slider #Arrows #Next {
  bottom: 0;
}

.floor-slider #sec1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #a0a0a0;
  height: 90%;
  margin-right: 5%;
  position: relative;
  overflow: hidden;
}

.floor-slider #sec1 .slideshow {
  height: 94%;
  border: 20px solid #1C1D21;
  position: relative;
}

.floor-slider #sec1 .slideshow .slider {
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.floor-slider #sec1 .slideshow .slider svg {
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

@media (max-width: 1900px) {
  body:before {
    content: "v";
  }
}

@media (min-width: 1900px) {
  body:before {
    content: "h";
  }
}

body:before {
  display: none;
}

html {
  font-size: calc(.2em + 1vw);
}

body {
  background: #000000;
  background-size: cover;
  color: #ffffff;
}

body #info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

body #info .vline {
  border-right: 2px solid #fff;
}

body #info .personal-info {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  height: 100vh;
  float: left;
}

body #info .personal-info .img {
  width: 100%;
  height: 40vh;
  background-color: #cccccc;
  overflow: hidden;
}

body #info .personal-info .img img {
  width: 100%;
}

body #info .personal-info .contact-info {
  width: 100%;
}

body #info .personal-info .contact-info .hline {
  margin-bottom: 40px;
  border-bottom: 2px solid #cccccc;
}

body #info .personal-info .contact-info h1 {
  text-align: center;
}

body #info .personal-info .contact-info h3 {
  padding-left: 45px;
  margin-bottom: 30px;
}

body #info .personal-info .contact-info .back {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  bottom: 0px;
  clear: both;
  width: 20%;
  font-size: calc(1.5em + 1vw);
  border: none;
  background: transparent;
  color: #ffffff;
}

body #info .bio {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  height: 70vh;
}

body #info .bio p {
  font-size: calc(.5em + 1vw);
  line-height: 1.5;
}

body #info .flooricon {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body #info .flooricon img {
  width: calc(4em + 1vw);
}

body .show {
  display: block;
}
/*# sourceMappingURL=main.css.map */