#directory {

    .search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        .alert {
            border-bottom: 2px solid #fff;
            margin-bottom: 3vh;
        }

        .search-bar {
            display: flex;
            justify-content: space-around;

            input {
                order: 1;
                flex: 0 1 95%;
                height: 30px;
                border-radius: 8px;
                font-size: 15px;
                margin-bottom: 3vh;
            }

            .search-icon {
                order: 2;
                transform: rotate(-45deg);
                font-size: 25px;

            }

        }

        table {
            thead {
                tr {
                    th {
                        text-align: left;
                        background-color: #fff;

                        a {
                            text-decoration: none;
                            color: #000;
                            font-weight: 700;
                            font-size: calc(.65em + 1vw);

                            .down-arrow {
                                color: #000;

                            }
                        }
                    }
                }
            }



        }

        tbody {
            tr {
                td {
                    a {
                        text-decoration: none;
                        color:#fff;

                        &:hover{
                            font-weight:700;
                        }
                    }
                }
            }
        }

        .h-line {
            border-bottom: #fff solid 2px;
        }

    }

}