#directory {
    margin-top: 3em;

    table {
        width: 100vw;
        height:250px;
        // position:relative;
        overflow-y: scroll;

        thead {
            width: 100%;
            background-color: #000;
            
            tr {

                th {
                    background: #fff;
                    text-align: left;
                    padding: .4em;


                    // width: 100%;
                    a {
                        color: #000;
                        text-decoration: none;

                        span{
                            .up-arrow{
                                font-size: 7px;
                            }
                           
                        }

                    }

                    

                }

            }

        }

        tbody{
            height: 300px;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100vw;
            
            th {
                width: 100%;
                
                &:first-child{
                    width:60%;
                }

                &:nth-child(2){
                    width:100%;
                }

                &:nth-child(3){
                    width:100%;
                }

            }
        

        }


    }


}