
.floor-slider{
    align-items: center;
    display: grid;
    grid-gap: 5%;
    grid-template-columns:auto 20%;
  	justify-content: center;
  	padding: 50px;
  	min-height: 80vh;

#Wrapper {
  display: flex;
	height: 600px;
  justify-content: center;
  position: relative;

  #Slideshow {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }


  #Slider {
    border: 20px solid #1C1D21;
    height: 600px;
    overflow: hidden;
    width: 800px;
    background-color: #fff;
  
    svg{
      height: 555px;
      width: 800px;
      transition: all 1s;

      .st0 {
        display: none;
      }

      .st1 {
        display: inline;
      }

      .st2 {
        fill: transparent;
        stroke: #000000;
        stroke-width: 10;
        stroke-miterlimit: 10;
        pointer-events: all;

        &:hover {
          fill: #b3a369;
        }
        .st3 {
          fill: none;
          stroke: #000000;
          stroke-width: 10;
          stroke-miterlimit: 10;
        }
      }

      
      }
  }


  
//navigation
#Arrows {
  /* 	display: flex; */
  justify-content: space-between;
  height: 50px;
  /* 	position: absolute; */
  float: left;

  button {
    background-color: rgba(255, 255, 255, .25);
    color: #1C1D21;
    cursor: pointer;
    height: 50px;
    width:50px;
    border: none;
    transition: background-color .5s, color .5s;
    font-size:30px;


    // &:first-of-type {
    //   padding-right: 20px;
    // }

    // &:last-of-type {
    //   padding-left: 20px;
    // }

    &:hover {
      background-color: rgba(28, 29, 33, .75);
      color: #EEEFF7;
    }
  }

  #Prev {
    transform: rotate(90deg);
    top: 0;
  }

  #Next {
    transform: rotate(90deg);
    bottom: 0;
    position: absolute;
  }
}
}






.lvl-info{
  grid-column-start: 2;
  grid-column-end:2;
  float: right;
  align-self: flex-start;
  
  
  .lvl-num {
    color: #fff;
    font-size: 100px;
    border-bottom: solid 2px #fff;
  }

  .room-info{
    color:#fff;
  }
}

}