
.floor-slider{
    align-items: center;
    display: grid;
    grid-gap: 5%;
    grid-template-columns:auto 20%;
  	justify-content: center;
  	padding: 50px;
  	min-height: 80vh;

#Wrapper {
  display: flex;
	height: 600px;
  justify-content: center;
  position: relative;

  #Slideshow {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }


  #Slider {
    border: 20px solid #1C1D21;
    height: 600px;
    overflow: hidden;
    width: 800px;
    background-color: #fff;
  
    svg{
      height: 555px;
      width: 800px;
      transition: all 1s;

      .st0 {
        display: none;
      }

      .st1 {
        display: inline;
      }

      .st2 {
        fill: transparent;
        stroke: #000000;
        stroke-width: 10;
        stroke-miterlimit: 10;
        pointer-events: all;

        &:hover {
          fill: #dac98d;
        }
        &:active {
          fill:#b3a369;
          animation: flicker 1s ease-in-out infinite;
        }
      }
      .st3 {
        fill: none;
        stroke: #000000;
        stroke-width: 10;
        stroke-miterlimit: 10;
      }
      }
  }


  
//navigation
#Arrows {
  /* 	display: flex; */
  justify-content: space-between;
  height: 50px;
  
  float: left;

  button {
    background-color: rgba(255, 255, 255, .25);
    color: #1C1D21;
    cursor: pointer;
    height: 50px;
    width:50px;
    border: none;
    transition: background-color .5s, color .5s;
    font-size:30px;

    &:hover {
      background-color: rgba(28, 29, 33, .75);
      color: #EEEFF7;
    }
  }

  #Prev {
    transform: rotate(90deg);
    top: 0;
  }

  #Next {
    transform: rotate(90deg);
    bottom: 0;
    position: absolute;
  }
}
}

h2 {
  font-size:3rem;
  color: #fff;
  letter-spacing: 1px;
  display: none;
}

h2.show {
  display: block
}

div,
ul {
  display: block;
  float: left;
  box-sizing: border-box;
}

.main {
  display:flex;
  width: 100%;
  // align-items: flex-start;

  .directory {
    // height: 100vh;
    overflow-y: auto;
    width: 250px;
}
ul {
  list-style: none;
  width: 100%;
  overflow: hidden;
  .rooms {
    display:block;
    align-items: flex-start;
  }

  li {
    display: block;

    .show {
      display: block
  }
  a {
    padding: 5px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    width: 100%;
    display: inline-block;
    line-height: 1.3em;
    font-size: 13px;

    .active {
      background: #b3a369;
  }
}

}
a::before {
  content: "("attr(href) ") - ";
  height: 23px;
  float: left
}

}

}
input[type=search] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 96%;
  margin: 5px 2%;
  background: rgba(0, 0, 0, .5);
  border: 1px solid #ddd;
  color: #fff;
}

@keyframes flicker {
  0% {
          opacity: 0;
  }

  50% {
          opacity: 1;
  }

  100% {
          opacity: 0;
  }
}

@keyframes location {
  0% {
          opacity: 0;
  }

  20% {
          opacity: 1;
  }

  100% {
          opacity: 0;
  }
}




}