@import
'../breakpoints/mixins';


$grid-min:auto auto auto auto auto auto;
$grid-med:auto auto auto auto auto auto auto auto auto auto auto auto;
$grid-lg: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
@include for-phone-only{
    *{
        margin:0;
        padding: 0;
    }

body {
    font-size: calc( 1em - 1vw );
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: $grid-min;
}



    .hero{
        grid-row-start: 1;
        grid-row-end:3;
        // height: 30vh;
            // .landimg{
            //     margin-top: 2em;
            //     height:100%;
            // }
    }


}