<div id="info" ng-controller="infoCtrl as info">

        <div class="personal-info vline" ng-repeat="x in info.profiles">
            <div class="img"><img ng-src="{{x.pic}}" alt="profile pic"></div>
            <div class="contact-info">
                <h1>{{x.name.first}}</h1>
                <div class="hline"></div>
                <p><strong>Occupation:</strong> {{x.occupation}}</p>
                <p><strong>Department:</strong> {{x.department}}</p>
                <p><strong>Email:</strong> {{x.email}}</p>
                <p><strong>Room:</strong> <a ui-sref="levels">{{x.room}}</a></p>
                <p><strong>Floor:</strong> <a ui-sref="levels">{{x.floor}}</a></p>
                <button class="back hvr-backward" ng-click="info.goBack()">&#10094;</button>
            </div>
            <div class="vertline"></div>
        </div>
        
        <div class="bio" ng-repeat="x in info.profiles">
            <div class="text">
                <h1>Bio</h1>
                <p>{{x.bio}}</p>
                <p>Office Hours: <strong>2:00 - 3:00pm</strong></p>
            </div>


            <div class="flooricon">
                <a ui-sref="levels" class="hvr-bob"><img ng-src="{{app.images +'location.png'}}" alt=""></a>
            </div>
            

        </div>


</div>