// $phone-sm : 360px;
// $phone-md : 360px 375px;
// $phone-lg : 375px 480px;
// $laptop : 1200px 1600px;
// $tablet-xs: 601px;
// $tablet-sm : 768px 834px;
// $tablet-lg : 1024px 1536px;


// body{
//     @include breakpoint($laptop) {
//         content:'Hello';
//     }
// }
@import 'mixins';

@include for-phone-only {


    #info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 10%;
        


        .vline {
            border: none;
        }

        .personal-info {
            flex: 0 1 50%;
            order: 1;
            text-align: center;

            .img {
                width: 70%;
                margin: 0 auto;
                border-radius: 8px;
            }

            .contact-info {
               

                .hline{
                    // border:none;
                    width: 75vw;
                    margin: 0 auto;
                }

                .back {
                    visibility: hidden;
                }

            }
        }

        .bio{
            display:flex;
            margin: 5% 5%;

            h1{
                text-align: center;
            }
            p{
                
                line-height: 2em;
            }

        }

    }


    //Floorplan
    .room-info{
        flex-direction: column;
        #Arrows{
           
            justify-content: flex-start;
        }
        #sec1 {
            flex: 0 1 60%;
            width:80%;
            
        }

        #sec2 {
            align-self: center;
            margin: 15px 0 0;

            
        }
    }
}